.c-update-preview-request-params {
    &__segments-group {
        margin-top: calculateRem(32px);
    }

    &__segments-list {
        padding: calculateRem(18px)
    }

    &__segments-item {
        display: flex;
        align-items: center;
        margin-top: calculateRem(16px);
        cursor: pointer;
        white-space: nowrap;

        &:first-of-type {
            margin-top: calculateRem(10px);
        }

        .ibexa-input--radio {
            margin-right: calculateRem(6px);
            margin-bottom: 0;
        }
    }
}
