.c-tb-modal-delete-container {
    .modal-body {
        .ibexa-modal__trash-option {
            .ibexa-modal__option-label {
                margin-bottom: 0;
                margin-top: calculateRem(18px);
            }

            .ibexa-label {
                font-size: calculateRem(16px);
            }

            .ibexa-modal__option-description {
                font-size: calculateRem(14px);
            }
        }
    }
}
