.c-month-day-view {
    display: flex;
    flex-wrap: wrap;
    border-radius: $ibexa-border-radius-small;
    border: calculateRem(1px) solid $ibexa-color-white;
    min-width: calc(100% / 7);

    &--past {
        @include past-tile();
    }

    &--today {
       @include today-tile();
    }

    &--disabled {
        @include disabled-tile();
    }

    &--selected {
        @include selected-tile();
    }

    &__day {
        margin-left: calculateRem(4px);
        flex-basis: calculateRem(32px);
    }

    .c-events {
        max-width: 100%;
    }
}
