.c-top-bar {
    position: relative;
    margin-bottom: calculateRem(16px);
    
    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__view-switcher-wrapper {
        justify-content: flex-end;
    }
}
