.ibexa-ca-banner {
    background-image: url('/bundles/ibexacorporateaccount/img/registration-banner-background.png');
    background-size: cover;
    color: $ibexa-color-white;

    &__container {
        display: flex;
    }
}
