.ibexa-ca-banner {
    background-image: url('/bundles/ibexacorporateaccount/img/registration-banner-background.png');
    background-size: cover;
    background-position: bottom;
    padding: calculateRem(64px) 0;
    color: $ibexa-color-white;

    &__container {
        display: flex;
    }
}
