.m-page-builder {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    &__preview {
        height: 100%;
    }

    &__active-layout-error {
        padding: calculateRem(18px) 0;
        color: $ibexa-color-font-danger;
        background: rgba($ibexa-color-danger, 0.2);

        .ez-icon {
            margin: calculateRem(8px) calculateRem(12px);
            fill: $ibexa-color-danger;
        }
    }

    &__active-layout-error-content {
        display: flex;
        justify-content: space-between;
    }
}
