.ibexa-taxonomy-tree-container {
    position: relative;
    top: 0;
    flex: 0 0 auto;
    background: $ibexa-color-white;
    color: inherit;

    &__root {
        position: sticky;
        top: 0;
        height: 100%;
        overflow: auto;
    }

    .c-tb-header__options {
        width: calculateRem(40px);
    }

    .c-tb-tree--non-expandable {
        .c-tb-toggler {
            pointer-events: none;
        }
    }
}
