.ibexa-perso-scenarios-list {
    &__name-link {
        display: inline-block;
    }

    .ibexa-table &__actions-table-header-cell {
        padding: 0;

        .ibexa-table {
            &__header-cell-content {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .ibexa-table {
        &__cell {
            &--scenario-name {
                max-width: calculateRem(300px);

                .ibexa-icon {
                    &:hover {
                        fill: $ibexa-color-primary;
                    }
                }
            }

            .list-unstyled {
                margin-bottom: 0;
            }
        }
    }
}
