.c-pb-schedule-config-panel-no-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calculateRem(12px) 0;

    &__text {
        color: $ibexa-color-dark-400;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: $ibexa-text-font-size-extra-large;
    }
}
