@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/functions/calculate.rem';

.ibexa-db-news {
    display: flex;
    flex-direction: column;
    gap: calculateRem(16px);

    &__header {
        margin-bottom: calculateRem(4px);
    }

    &__card {
        display: flex;
        justify-content: space-between;
        padding: calculateRem(12px);
        border: none;
        background-color: $ibexa-color-white;
        border-radius: calculateRem(12px);
        cursor: pointer;
        text-decoration: none;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info-600, 0.1);

        &:hover {
            box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(24px) 0 rgba($ibexa-color-info-600, 0.15);
            text-decoration: none;
        }

        &:active {
            box-shadow: none;
        }

        &:focus-visible {
            outline: none;
            border: calculateRem(1px) solid $ibexa-color-primary;
            box-shadow: 0 0 0 calculateRem(4px) rgba($ibexa-color-primary, 0.2);
        }
    }

    &__img {
        width: calculateRem(120px);
        height: calculateRem(72px);
        border-radius: calculateRem(8px);
    }

    &__content {
        padding: 0 calculateRem(16px);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        color: $ibexa-color-dark;
        line-height: calculateRem(24px);
        margin: 0 0 calculateRem(8px) 0;
    }

    &__date {
        font-size: $ibexa-text-font-size-small;
        color: $ibexa-color-dark-400;
        line-height: calculateRem(18px);
    }

    &__pointer {
        display: inline-flex;
        align-items: center;
        color: $ibexa-color-primary;
        height: 100%;
    }

    &__pointer-label {
        color: $ibexa-color-primary;
        margin-right: calculateRem(4px);
    }

    &__icon-back {
        fill: $ibexa-color-dark-300;
    }
}
