.c-tb-action-list {
    &__item {
        cursor: pointer;

        &--disabled {
            color: var(--ibexa-tb-action-menu-item-disabled-color);
            cursor: not-allowed;
        }
    }

    &__item-loader-wrapper {
        display: inline-block;
        margin-bottom: calculateRem(-1px);
        padding-left: calculateRem(8px);

        &--hidden {
            visibility: hidden;
        }
    }
}
