.c-tb-action-list {
    &__item {
        cursor: pointer;

        &--disabled {
            color: var(--ibexa-tb-action-menu-item-disabled-color);
            cursor: not-allowed;
        }
    }
}
