.c-tb-contextual-menu {
    &__toggler {
        cursor: pointer;

        &:hover {
            .ibexa-icon {
                fill: var(--ibexa-tb-primary-color);
            }
        }

        &--disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }

    &--burger {
        position: relative;
        display: none;
    }

    &--expanded {
        display: block;
    }

    &--portal {
        position: relative;
        bottom: calculateRem(-10px);
        left: calculateRem(8px);
        min-width: calculateRem(215px);
        background-color: $ibexa-color-white;
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: $ibexa-border-radius;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(67px) 0 rgba($ibexa-color-info, 0.1);
        overflow: hidden;
        font-size: $ibexa-text-font-size-medium;

        .c-tb-action-list {
            &__list {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin-bottom: 0;
                padding: 0;

                & + .c-tb-action-list__list {
                    border-top: calculateRem(1px) solid $ibexa-color-light-500;
                }
            }

            &__item {
                padding: calculateRem(8px) calculateRem(24px);

                &:not(.c-tb-action-list__item--disabled):hover {
                    background-color: $ibexa-color-light-500;
                }
            }
        }
    }
}
