.c-tb-list-item-single {
    line-height: calculateRem(21px);
    min-height: calculateRem(34px);
    position: relative;

    &__indentation {
        width: calc(#{calculateRem(-6px)} + (var(--indent, 0) + 1) * #{calculateRem(16px)});
        position: relative;
    }

    &__indentation-line {
        position: absolute;
        z-index: 1;

        &--no-selection {
            --with-selection: 0;
        }

        &--no-drag-and-drop {
            --with-drag-and-drop: 0;
        }

        &--vertical {
            width: calculateRem(1px);
            top: calculateRem(16px);
            left: calc(
                var(--with-drag-and-drop, 1) * #{calculateRem(5px)} + var(--with-selection, 1) * #{calculateRem(19px)} +
                    (var(--indent, 0) + 1) * #{calculateRem(16px)}
            );
            background: repeating-linear-gradient(
                $ibexa-color-dark-300,
                $ibexa-color-dark-300 calculateRem(2px),
                transparent calculateRem(2px),
                transparent calculateRem(4px)
            );
        }

        &--horizontal {
            $indent-width: calc(#{calculateRem(-7px)} + var(--indent, 0) * #{calculateRem(16px)});

            width: calc(100% - (#{$indent-width} + #{calculateRem(3px)}));
            height: calculateRem(1px);
            top: calculateRem(-1px);
            left: calc(#{$indent-width});
            background: repeating-linear-gradient(
                90deg,
                $ibexa-color-dark-300,
                $ibexa-color-dark-300 calculateRem(2px),
                transparent calculateRem(2px),
                transparent calculateRem(4px)
            );

            &.c-tb-list-item-single__indentation-line {
                &--hidden {
                    display: none;
                }

                &--no-sub-items {
                    width: calc(100% - #{$indent-width} + #{calculateRem(16px)});
                }
            }
        }

        &--root-offset {
            top: calculateRem(38px);
        }
    }

    &__element {
        display: flex;
        align-items: center;
        padding-right: calculateRem(4px);
        border-radius: $ibexa-border-radius;
        border: calculateRem(1px) solid transparent;

        &--no-checkbox {
            padding-left: calculateRem(32px);
        }

        .ibexa-input {
            &--checkbox,
            &--radio {
                margin-left: calculateRem(4px);
            }
        }
    }

    &__drag-icon {
        margin-left: calculateRem(4px);
        width: calculateRem(8px);
        opacity: 0;
    }

    &__label {
        display: flex;
        align-items: center;
        flex: 1;
        white-space: nowrap;
        position: relative;
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(21px);
        min-height: calculateRem(21px);
        padding: calculateRem(5px) calculateRem(14px);
        color: $ibexa-color-dark;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $ibexa-color-primary;

            .ibexa-icon {
                fill: $ibexa-color-primary;
            }
        }
    }

    &__label-truncated {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__load-more {
        margin-left: calculateRem(48px);
        padding: calculateRem(4px) 0;
        font-size: $ibexa-text-font-size-medium;
        cursor: pointer;
    }

    &__load-more-btn-spinner {
        margin-right: calculateRem(4px);
    }

    &__load-more-limit-info {
        margin-left: calculateRem(14px);
        padding: calculateRem(4px) 0;
        color: $ibexa-color-danger;
        font-size: $ibexa-text-font-size-small;
        line-height: calculateRem(18px);
        font-style: italic;
    }

    .c-tb-list {
        opacity: 0;
        list-style: none;
        max-width: 0;
        overflow: hidden;
    }

    &--has-sub-items {
        > .c-tb-list-item-single__element {
            .c-tb-toggler {
                cursor: pointer;

                &::before {
                    content: '';
                }
            }
        }
    }

    &--expanded {
        max-height: initial;

        > .c-tb-list {
            opacity: 1;
            max-width: initial;
            overflow: initial;
        }

        > .c-tb-list-item-single__element {
            .c-tb-toggler {
                &::before {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
    }

    &--hidden {
        > .c-tb-list-item-single__element {
            border-color: $ibexa-color-light-400;
            background: repeating-linear-gradient(
                -80deg,
                transparent,
                transparent calculateRem(4px),
                $ibexa-color-light-400 calculateRem(4px),
                $ibexa-color-light-400 calculateRem(5px)
            );
        }
    }

    &--active {
        > .c-tb-list-item-single__element {
            border-color: $ibexa-color-light-400;
            background-color: $ibexa-color-light-400;

            &--load-more,
            &--limit {
                border-color: transparent;
                background-color: transparent;
            }
        }
    }

    &--disabled {
        > .c-tb-list-item-single {
            &__element {
                opacity: 0.2;
            }
        }
    }

    &--destination {
        background-color: $ibexa-color-info-100;
        border: calculateRem(1px) solid $ibexa-color-info;
        border-radius: $ibexa-border-radius;
        color: $ibexa-color-info;
        margin: calculateRem(-1px);

        .ibexa-icon {
            fill: $ibexa-color-info;
        }

        .ibexa-input--checkbox {
            border-color: $ibexa-color-info;
        }

        .c-tb-toggler:before {
            border-color: transparent transparent transparent $ibexa-color-info;
        }

        &.c-tb-list-item-single {
            &--expanded {
                .c-tb-toggler:before {
                    border-color: $ibexa-color-info transparent transparent transparent;
                }
            }
        }

        .c-tb-list-item-single {
            &__label {
                color: $ibexa-color-info;
            }
        }
    }

    &--hovered {
        > .c-tb-list-item-single__element {
            border-color: $ibexa-color-light;
            box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);

            &--load-more,
            &--limit {
                border-color: transparent;
                box-shadow: none;
            }

            .c-tb-contextual-menu,
            .c-tb-list-menu {
                display: block;
            }
        }
    }

    &--context-menu-opened {
        > .c-tb-list-item-single__element {
            border-color: $ibexa-color-primary;
        }
    }
}
