.c-tb-list-item {
    &__group {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: calculateRem(4px);
        border-radius: $ibexa-border-radius;
        border: calculateRem(1px) solid transparent;
    }

    &__cover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__cancel-action {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        top: calculateRem(-2px);
        right: calculateRem(-3px);
        width: calculateRem(18px);
        height: calculateRem(18px);
        border: calculateRem(1px) solid $ibexa-color-light;
        border-radius: 50%;
        padding: 0;
        background-color: $ibexa-color-white;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info, 0.05);
    }

    &--grouped-source {
        position: relative;
        z-index: 10000;
        .c-tb-list-item-single {
            &__element {
                border-radius: $ibexa-border-radius;
                background: $ibexa-color-white;
                border-color: $ibexa-color-light;
            }

            &__indentation {
                display: none;
            }
        }
    }
}
