.c-tb-tree {
    height: 100%;
    padding-top: calculateRem(8px);

    &__scrollable-wrapper {
        padding: calculateRem(8px);
        overflow: auto;

        &--disabled {
            pointer-events: none;
        }
    }

    &--no-header {
        padding-top: 0;
    }
}
