.c-tb-list-placeholder-source {
    background-color: var(--ibexa-tb-list-item-source-bg-color);
    border: calculateRem(1px) dashed var(--ibexa-tb-list-item-source-border-color);
    border-radius: $ibexa-border-radius;
    display: flex;
    align-items: center;
    z-index: 4;
}
