.c-tb-width-container {
    padding: 0 calculateRem(3px) 0 0;
    width: 100%;
    height: 100%;
    background: var(--ibexa-tb-bg-color);
    color: var(--ibexa-tb-text-color);
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &__resize-handler {
        width: calculateRem(3px);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: var(--ibexa-tb-bg-color);
        border-right: calculateRem(1px) solid var(--ibexa-tb-border-color);
        cursor: col-resize;
    }

    &__resizable-wrapper {
        height: 100%;
        overflow: hidden;
    }
}
