.ibexa-db-banner {
    display: flex;
    margin-bottom: calculateRem(30px);
    position: relative;

    &--hidden {
        display: none;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        max-height: calculateRem(260px);
        border-radius: $ibexa-border-radius;
        background-image: url('/bundles/ibexadashboard/img/banner-dashboard-background.svg');
        background-size: cover;
    }

    &__content {
        padding: calculateRem(40px) calculateRem(36px);
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
    }

    &__desc {
        font-size: $ibexa-text-font-size;
    }

    &__customize-dashboard {
        margin-top: calculateRem(32px);
    }

    &__close-btn {
        position: absolute;
        top: calculateRem(16px);
        right: calculateRem(16px);
    }

    &__graph-img {
        margin: calculateRem(40px) calculateRem(50px) 0 0;
    }
}
