.m-ibexa-fb-workspace {
    display: block;
    width: calculateRem(1000px);
    margin: 0 auto;
    padding: calculateRem(32px);
    min-height: calc(100vh - #{calculateRem(300px)});
    max-height: calc(100vh - #{calculateRem(162px)});
    background-color: $ibexa-color-light-300;
    border-radius: $ibexa-border-radius;
    overflow: auto;

    &__empty-zone-placeholder {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    &__empty-zone-image {
        margin-bottom: calculateRem(40px);
    }

    &__empty-zone-headline {
        margin-bottom: calculateRem(8px);
    }

    &--empty {
        display: flex;
        align-items: center;
        justify-content: center;

        .m-ibexa-fb-workspace__empty-zone-placeholder {
            display: flex;
        }
    }
}
