.ibexa-scheduler-publish-later {
    .ibexa-extra-actions__content {
        max-height: inherit;
        padding: calculateRem(32px);
        width: 75%;
    }

    .ibexa-date-time-picker {
        margin-bottom: calculateRem(16px);
    }
}

.ibexa-context-menu {
    .ibexa-extra-actions-container {
        .ibexa-scheduler-publish-later {
            &__actions {
                display: flex;

                .ibexa-btn--confirm-schedule {
                    font-size: calculateRem(14px);
                    width: calculateRem(200px);
                    justify-content: center;
                }
            }
        }
    }
}

.ibexa-dropdown {
    .ibexa-scheduler-publish-later {
        border-color: $ibexa-color-primary;
        background-color: $ibexa-color-primary;

        &:after {
            background-color: $ibexa-color-primary;
        }

        .ibexa-extra-actions__content {
            padding: calculateRem(16px);
        }
    }
}
