.ibexa-sf-grid-view-site-item {
    &__info {
        display: flex;
        padding: calculateRem(16px);
    }

    &__status-container {
        width: calculateRem(20px);
        display: flex;
    }

    &__title-container {
        width: calc(100% - #{calculateRem(40px)});
    }

    &__sub-title {
        margin-top: calculateRem(4px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        font-size: $ibexa-text-font-size-small;
        line-height: calculateRem(24px);
    }

    &__actions-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: calculateRem(20px);

        .ibexa-popup-menu {
            left: calculateRem(22px);
        }
    }
}
