@import './public/bundles/ezplatformadminui/scss/_custom.scss';

.ibexa-pb-block-checkbox-field {
    .form-check {
        display: flex;
        height: 100%;
    }

    .ibexa-input {
        margin-right: calculateRem(4px);
    }
}
