.c-ip-snackbar {
    position: absolute;
    z-index: 10;
    color: $ibexa-color-white;
    font-size: $ibexa-text-font-size-medium;
    bottom: calculateRem(32px);
    left: calc((100% - calculateRem(700px)) / 2);
    width: calculateRem(700px);
    padding: 0 calculateRem(8px);
    border-radius: calculateRem(12px);
    border: calculateRem(2px) solid $ibexa-color-info-200;
    background: $ibexa-color-dark;
    box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(47px) 0 rgba($ibexa-color-info-600, 0.15);

    &__selection-info-row {
        display: flex;
        align-items: center;
        width: 100%;
        gap: calculateRem(8px);
        padding: calculateRem(8px) 0;

        &--main {
            flex-wrap: wrap;
            min-height: calculateRem(48px);
            padding-left: calculateRem(16px);
        }

        &--multi-actions {
            justify-content: space-between;
            border-top: calculateRem(1px) solid $ibexa-color-dark-400;
        }
    }

    &__selection-info-label {
        &::after {
            content: ':';
        }
    }

    &__toggle-btn {
        position: relative;
        display: none;
        height: calculateRem(20px);
        margin-right: calculateRem(8px);
        padding-right: calculateRem(16px);
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        color: $ibexa-color-white;
        background: $ibexa-color-dark-500;
        border-radius: calculateRem(4px);

        &::after {
            position: absolute;
            top: calculateRem(9px);
            right: calculateRem(4px);
            content: '';
            border-left: calculateRem(4px) solid transparent;
            border-right: calculateRem(4px) solid transparent;
            border-top: calculateRem(4px) solid $ibexa-color-white;
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    &__selection-info-extra-data,
    &__selection-info-single-item {
        display: flex;
        flex-grow: 1;
    }

    &__selection-info-multi-hint {
        display: none;
        color: $ibexa-color-white-600;
    }

    &__selection-info-top-action {
        margin-right: 0;
        margin-left: auto;
    }

    &__selection-info-multi-items {
        display: none;
        flex-wrap: wrap;
        gap: calculateRem(8px);
        width: 100%;
        padding-bottom: calculateRem(12px);
    }

    &__selection-info {
        &--multi-items-selected {
            .c-ip-snackbar {
                &__toggle-btn {
                    display: block;
                }

                &__selection-info-single-item {
                    display: none;
                }

                &__selection-info-multi-hint {
                    display: inline;
                }
            }
        }

        &--expanded {
            .c-ip-snackbar {
                &__toggle-btn::after {
                    transform: rotate(180deg);
                }

                &__selection-info-multi-items {
                    display: flex;
                }
            }
        }
    }
}
