.ibexa-pc-assigned-attribute {
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &__item {
        &--icon {
            text-align: right;

            .ibexa-icon {
                fill: $ibexa-color-light;
                margin-top: calculateRem(-8px);
            }
        }

        &--name {
            .ibexa-pc-assigned-attribute__item-label {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &--type {
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
        }

        &--action {
            text-align: center;
        }
    }

    &--in-removing {
        opacity: 0;
    }

    .ibexa-table__cell {
        height: calculateRem(48px);
        padding: calculateRem(2px) calculateRem(12px);
    }
}
