.ibexa-pc-edit {
    &__form-field {
        &--hidden {
            margin-bottom: 0;

            .form-check {
                padding-left: 0;
                margin-bottom: 0;
                margin-top: 0;
                min-height: 0;
                height: 0;
            }
        }
    }

    &__product-availability-row {
        max-width: calculateRem(400px);
        padding-bottom: calculateRem(32px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__product-stock-row {
        margin-bottom: calculateRem(4px);
    }

    .ibexa-dropdown,
    .ibexa-input--textarea {
        width: 80%;
    }

    .ibexa-input-text-wrapper {
        width: 80%;
    }

    &__form-field.form-group:first-of-type .ibexa-label {
        margin-top: calculateRem(32px);
    }
}
