.ibexa-pc-view {
    .ibexa-table {
        margin-top: calculateRem(24px);

        &--users-in-group {
            margin-bottom: 0;
        }
    }

    .ibexa-pc-wrapper {
        margin-bottom: 0;

        &--users-in-group {
            margin-bottom: calculateRem(72px);
        }
    }
}
