.ibexa-pc-edit-config-taxonomy-filter {
    .c-tb-tree {
        padding-top: 0;
    }

    .c-tb-width-container {
        background-color: transparent;
    }

    .c-tt-not-translated-info {
        display: none;
    }
}
