.ibexa-pc-edit-catalog-filter-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calculateRem(52px);
    margin: calculateRem(4px) calculateRem(12px) calculateRem(4px) 0;
    padding: 0 calculateRem(16px);
    border-radius: $ibexa-border-radius;
    border: calculateRem(1px) solid $ibexa-color-light;
    background-color: $ibexa-color-white;
    box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(20px) calculateRem(-7px) rgba($ibexa-color-info, 0.05);

    &__left-col {
        display: flex;
        width: calc(100% - #{calculateRem(70px)});
    }

    &__right-col {
        display: flex;
        justify-content: flex-end;
        width: calculateRem(70px);

        .ibexa-btn {
            padding: calculateRem(4px);
        }
    }

    &__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__value {
        display: flex;
        align-items: center;
        margin: 0 calculateRem(16px) 0 calculateRem(8px);
        font-size: $ibexa-text-font-size-medium;
        color: $ibexa-color-dark-400;

        .ibexa-tag {
            margin-right: calculateRem(2px);
            padding: calculateRem(2px) calculateRem(8px);
        }
    }
}
