.ibexa-pc-edit-config-number-range-filter {
    &__widget {
        display: flex;
        width: 80%;
    }

    &__field {
        flex: 1;

        .ibexa-label {
            margin-top: 0;
        }

        .ibexa-pc-edit__form-field {
            margin-bottom: 0;
        }

        .ibexa-input-text-wrapper {
            max-width: 100%;
            width: 100%;
        }
    }

    &__separator {
        width: calculateRem(32px);
    }

    &__separator-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calculateRem(48px);
        width: calculateRem(32px);
        margin-top: calculateRem(29px);
    }
}
