.ibexa-pc-product-price-edit-form {
    &__group {
        &--price {
            padding-bottom: calculateRem(70px);
            border-bottom: calculateRem(1px) solid $ibexa-color-light;
        }

        &--customer-group-price {
            margin-top: calculateRem(32px);
        }
    }

    &__group-title {
        margin-bottom: calculateRem(48px);
    }
}
