.ibexa-ca-application-workflow-extra-actions {
    &__btns {
        margin-top: calculateRem(24px);
        margin-bottom: calculateRem(48px);
        display: flex;
    }

    &__btn {
        margin-right: calculateRem(16px);
    }
}
