@import 'common';

@import 'application-create-edit';
@import 'application-workflow-extra-actions';
@import 'company-create-edit';
@import 'company-tab-address-book';
@import 'company-tab-company-profile';
@import 'company-tab-summary-contact-person';
@import 'company-tab-summary';
