.ibexa-perso-charts {
    padding: 0;

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: calculateRem(16px) 0;
    }

    &__header-headline {
        line-height: calculateRem(36px);
        width: 100%;
    }

    &__header-tools {
        width: 100%;
    }

    &__filter-select {
        min-width: calculateRem(250px);
    }

    &__filter-range-select[readonly] {
        margin-top: calculateRem(5px);
        background: $ibexa-color-white;
    }

    &__item {
        margin-bottom: calculateRem(24px);
    }
}
