.ibexa-perso-list-more-items {
    font-size: $ibexa-text-font-size-medium;
    user-select: none;
    text-decoration: underline;
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

    &:hover {
        color: $ibexa-color-primary;
        border-color: $ibexa-color-primary;
    }
}
