.ibexa-perso-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: calculateRem(8px) 0 calculateRem(16px);

    &--dashboard {
        padding: calculateRem(32px) 0 calculateRem(8px);
    }

    &__content {
        width: 100%;
    }

    &__select {
        max-width: calculateRem(250px);
        background-color: transparent;
        border: calculateRem(1px) solid $ibexa-color-dark-300;
    }

    &__mandator {
        min-width: calculateRem(290px);
    }
}
