.ibexa-perso-segments-sub-group-item {
    position: relative;
    margin-bottom: calculateRem(8px);

    &__content {
        display: flex;
        width: 100%;
        height: calculateRem(50px);
        align-items: center;
        justify-content: center;
        background-color: $ibexa-color-white;
        border: calculateRem(1px) solid $ibexa-color-light-400;
        border-radius: $ibexa-border-radius;
        padding: 0 0 0 calculateRem(20px);
    }

    &__icon {
        display: flex;
        margin-right: calculateRem(10px);
        fill: $ibexa-color-light;
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calculateRem(400px);
    }

    &__status {
        margin-left: auto;
        padding: 0 calculateRem(8px);
        border-radius: calculateRem(12px);

        &--active {
            color: $ibexa-color-success;
            background-color: $ibexa-color-success-200;
        }

        &--inactive {
            color: $ibexa-color-danger;
            background-color: $ibexa-color-danger-200;
        }
    }
}
