.ibexa-perso-strategy-sidebar {
    @include sidebar-drag-items;

    position: sticky;
    top: calculateRem(-40px);
    max-height: calc(100vh - #{calculateRem(200px)});
    margin-left: calculateRem(32px);
}

.ibexa-perso-strategy-sidebar-item {
    @include sidebar-drag-item;

    align-items: baseline;

    &__label {
        font-size: $ibexa-text-font-size;
        font-weight: 600;
    }
}
