.ibexa-perso-submodel-sidebar {
    @include sidebar-drag-items;

    & {
        position: sticky;
        top: calculateRem(-40px);
        margin-left: calculateRem(32px);
        margin-bottom: auto;
        height: 100%;
        max-height: calc(100vh - #{calculateRem(250px)});
    }

    &__list {
        padding-top: calculateRem(20px);
    }

    &__list-spinner {
        padding-top: calculateRem(20px);
        text-align: center;

        &--hidden {
            display: none;
        }
    }

    &__list-empty {
        margin-top: calculateRem(-15px);
        text-align: center;
        display: none;
        line-height: calculateRem(33px);
        color: $ibexa-color-dark;
        font-size: $ibexa-text-font-size-large;
        font-weight: 600;

        &--visible {
            display: block;
        }
    }

    &__list-empty-image {
        display: block;
        margin-bottom: calculateRem(15px);
    }
}

.ibexa-perso-submodel-sidebar-item {
    @include sidebar-drag-item;

    &--filtered {
        display: none;
    }
}
