.ibexa-ca-contact {
    display: flex;

    &__billing-address-wrapper {
        flex-grow: 1;
        border-radius: $ibexa-border-radius;
        padding: 0 calculateRem(24px) calculateRem(24px) calculateRem(24px);
        margin-right: calculateRem(24px);
        background: $ibexa-color-light-200;
    }
}
