.ibexa-al-block-collapsible-list {
    display: flex;
    flex-direction: column;
    background-color: $ibexa-color-light-200;
    border-radius: calculateRem(8px);
    padding: calculateRem(8px) calculateRem(16px);
    gap: calculateRem(12px);

    &__item {
        margin: 0 calculateRem(16px) 0;
    }
}
