@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/mixins.scss';
@import './public/bundles/ibexaadminui/scss/functions/calculate.rem.scss';

.ibexa-block-attributes-group-wrapper {
    border: calculateRem(1px) solid $ibexa-color-dark-200;
    border-radius: $ibexa-border-radius;
    padding: calculateRem(16px);

    &__header {
        margin-bottom: calculateRem(16px);
        display: flex;
        justify-content: flex-end;
    }

    &__group-name {
        margin-right: auto;
    }

    .ibexa-collapse {
        margin-bottom: calculateRem(8px);

        &__body-content {
            padding: calculateRem(16px);

            .ibexa-field-edit.is-invalid .ibexa-data-source--richtext {
                border-color: $ibexa-color-danger;

                .ibexa-data-source__richtext {
                    background-color: $ibexa-color-danger-100;

                    &.ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable) {
                        border-radius: $ibexa-border-radius $ibexa-border-radius 0 0;
                    }
                }
            }
        }

        &__header {
            padding-left: calculateRem(16px);

            .ibexa-input--checkbox {
                margin-bottom: 0;
            }
        }
    }

    &--single {
        border: none;
        padding: 0;

        .ibexa-collapse {
            &__header {
                padding-left: 0;
            }
        }
    }
}
