@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/mixins.scss';
@import './public/bundles/ibexaadminui/scss/functions/calculate.rem.scss';

:root {
    --ibexa-primary-color: #{$ibexa-color-info};
    --ibexa-input-hover-border-color: var(--ibexa-primary-color);
    --ibexa-input-focus-border-color: var(--ibexa-primary-color);
    --ibexa-input-checked-bg-color: var(--ibexa-primary-color);
    --ibexa-input-checked-disabled-border-color: #{$ibexa-color-info-300};
    --ibexa-input-checked-disabled-bg-color: #{$ibexa-color-info-300};
    --ibexa-input-focus-shadow-color: #{rgba($ibexa-color-info, 0.75)};
    --ibexa-btn-shadow-box-primary-color: #{rgba($ibexa-color-info, 0.5)};
    --ibexa-dropdown-shadow-box-primary-color: #{rgba($ibexa-color-info, 0.2)};
}

.ibexa-main-container {
    height: 100vh;
}

[name='block_configuration'],
.ibexa-pb-block-config {
    height: 100%;
}

.ibexa-pb-block-config {
    height: 100%;
    padding: calculateRem(20px);

    &--default {
        .ibexa-main-container {
            .container {
                margin: 0;
                padding-top: calculateRem(12px);
                max-width: 100%;
                height: 100%;
            }
        }
    }

    .ibexa-tab-content {
        margin-bottom: 0;
        padding: calculateRem(32px) 0 calculateRem(48px) 0;
        border-width: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .ibexa-tab-content__pane {
        padding: 0;
    }

    &__fields {
        .ibexa-pb-block-config__field:first-of-type {
            .ibexa-label {
                margin-top: 0;
            }
        }
    }

    &__content {
        grid-area: content;
        padding: calculateRem(24px) calculateRem(48px);
        background-color: $ibexa-color-white;
        overflow: auto;
    }

    &__actions {
        grid-area: actions;
        display: flex;
        align-items: center;
        padding-bottom: calculateRem(32px);

        .ibexa-btn + .ibexa-btn {
            margin-left: calculateRem(16px);
        }
    }

    [data-open-udw] {
        display: block;
    }

    &__error {
        @include error-under-label();
    }

    &__tab-label {
        font-weight: 600;
        margin-bottom: calculateRem(16px);
    }

    .ibexa-tabs.ibexa-tabs {
        &--switcher {
            .nav-link:hover {
                color: $ibexa-color-info;
            }
        }
    }
}
