@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/mixins.scss';
@import './public/bundles/ibexaadminui/scss/functions/calculate.rem.scss';

:root {
    --ibexa-primary-color: #{$ibexa-color-info};
    --ibexa-input-hover-border-color: var(--ibexa-primary-color);
    --ibexa-input-focus-border-color: var(--ibexa-primary-color);
    --ibexa-input-checked-bg-color: var(--ibexa-primary-color);
    --ibexa-input-checked-disabled-border-color: #{$ibexa-color-info-300};
    --ibexa-input-checked-disabled-bg-color: #{$ibexa-color-info-300};
    --ibexa-input-focus-shadow-color: #{rgba($ibexa-color-info, 0.2)};
    --ibexa-btn-shadow-box-primary-color: #{rgba($ibexa-color-info, 0.5)};
    --ibexa-dropdown-shadow-box-primary-color: #{rgba($ibexa-color-info, 0.2)};
}

.ibexa-main-container {
    height: 100vh;
}

[name='block_configuration'],
.ibexa-pb-block-config__content {
    height: 100%;
}

.ibexa-pb-block-config {
    .ibexa-main-container {
        .container {
            margin: 0;
            padding: 0;
            max-width: 100%;
            height: 100%;
        }

        &__content-column {
            overflow: hidden;
        }
    }

    .ibexa-tab-content {
        margin-bottom: 0;
        border-width: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .ibexa-tab-content__pane {
        padding: 0;
    }

    &__fields {
        .ibexa-pb-block-config__field:first-of-type {
            .ibexa-label {
                margin-top: 0;
            }
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__header {
        padding: calculateRem(32px) calculateRem(32px) 0;
        transition: padding 0.5s ease;

        &--slim {
            z-index: 1;
            box-shadow: 0 0 calculateRem(16px) 0 rgba($ibexa-color-dark, 0.16);
            padding: 0 calculateRem(32px) 0;

            .ibexa-tabs.ibexa-tabs--switcher .ibexa-tabs__list {
                border: none;
                margin-bottom: 0;
                background-color: transparent;
            }
        }
    }

    &__body {
        padding: calculateRem(24px) calculateRem(32px) calculateRem(48px);
        background-color: $ibexa-color-white;
        overflow: auto;
        margin: 0;
    }

    &__actions {
        display: flex;
        align-items: center;
        padding: calculateRem(24px) calculateRem(32px);

        &--slim {
            z-index: 1;
            box-shadow: 0 0 calculateRem(16px) 0 rgba($ibexa-color-dark, 0.16);
        }

        .ibexa-btn + .ibexa-btn {
            margin-left: calculateRem(16px);
        }
    }

    [data-open-udw] {
        display: block;
    }

    &__error {
        @include error-under-label();
    }

    &__tab-label {
        font-weight: 600;
        margin-bottom: calculateRem(16px);
    }

    .ibexa-tabs.ibexa-tabs {
        &--switcher {
            .ibexa-tabs__tab {
                .ibexa-tabs__link {
                    &:hover {
                        border: calculateRem(1px) solid $ibexa-color-info;
                    }

                    &:focus-visible {
                        border: calculateRem(1px) solid $ibexa-color-info;
                        box-shadow: 0 0 0 calculateRem(4px) rgba($ibexa-color-info, 0.2);
                    }
                }
            }
        }
    }
}
