.ibexa-page-select-items {
    margin-top: calculateRem(12px);

    &__toggler {
        display: flex;
        justify-content: space-between;
        padding: calculateRem(16px) calculateRem(4px) calculateRem(8px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;

        &,
        &:hover,
        &:active {
            color: $ibexa-color-dark;
            text-decoration: none;
        }
    }

    &__group-list {
        padding: 0;

        &--blocks {
            padding-left: calculateRem(50px);
        }
    }

    &__group-header {
        display: flex;
        align-items: center;
        min-height: calculateRem(50px);
        margin: calculateRem(4px) 0;

        .ibexa-input--checkbox {
            margin-right: calculateRem(6px);
        }
    }

    &__group-warning {
        display: flex;
        width: 70%;
        opacity: 1;
        padding: calculateRem(8px) calculateRem(34px) calculateRem(8px) calculateRem(10px);
        font-size: calculateRem(12px);
        color: $ibexa-color-dark-300;
        background: $ibexa-color-light-500;
        transition: all 0.3s $ibexa-admin-transition;

        &--hidden {
            opacity: 0;
        }
    }

    &__group-warning-icon {
        fill: $ibexa-color-warning;
        margin-right: calculateRem(8px);
    }

    &__group-action {
        display: flex;
        width: 30%;

        &--without-warning {
            width: 100%;
        }
    }

    &__group-action-label {
        font-size: $ibexa-text-font-size-medium;
        line-height: calculateRem(16px);
    }

    &__items-list {
        display: grid;
        grid-column-gap: calculateRem(24px);
        grid-row-gap: calculateRem(8px);
        margin: 0;
        padding: 0;
        list-style: none;

        &--blocks {
            grid-template-columns: repeat(3, 1fr);
        }

        &--layouts {
            grid-template-columns: repeat(auto-fit, calculateRem(135px));
        }
    }

    &__item {
        display: flex;
        border-radius: $ibexa-border-radius;
        border: calculateRem(1px) solid $ibexa-color-light;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(20px) calculateRem(-7px) rgba($ibexa-color-info, 0.05);

        .form-check,
        .form-check-input {
            width: calculateRem(16px);
            height: calculateRem(16px);
            margin: 0;
            padding: 0;
        }

        &--blocks {
            height: calculateRem(72px);
            padding: calculateRem(12px) calculateRem(8px);

            .ibexa-icon {
                margin: calculateRem(1px) 0 0 calculateRem(6px);
            }
        }

        &--layouts {
            position: relative;
            flex-direction: column;
            height: calculateRem(160px);
            padding: calculateRem(17px) calculateRem(21px);

            .form-check {
                position: absolute;
                top: calculateRem(9px);
                right: calculateRem(9px);
            }
        }

        &--selected {
            border-color: $ibexa-color-primary;
        }
    }

    &__item-label {
        font-size: $ibexa-text-font-size-medium;

        &--blocks {
            margin: calculateRem(-2px) 0 0 calculateRem(6px);
        }

        &--layouts {
            margin-top: calculateRem(8px);
            text-align: center;
        }
    }

    &__item-thumbnail {
        width: calculateRem(88px);
        height: calculateRem(64px);
    }
}
