@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/functions/calculate.rem';

.ibexa-db-top-clicks {
    &__header {
        margin-bottom: calculateRem(16px);
    }

    .ibexa-container {
        padding: calculateRem(16px);
    }

    .ibexa-table-header {
        justify-content: flex-end;

        &__headline {
            display: none;
        }
    }
}
