.ibexa-content-view--full-preview {
    .ibexa-main-container__content-column {
        overflow: hidden;
    }

    .ibexa-header-wrapper {
        flex-basis: 50%;
        max-width: 50%;
        height: calculateRem(48px);
        display: flex;
        align-items: center;
    }

    .ibexa-page-title {
        &__title {
            margin-bottom: 0;
        }

        &__content {
            font-size: $ibexa-text-font-size-large;
        }

        .ibexa-icon-tag {
            font-family: $ibexa-font-family;
            height: calculateRem(24px);
            line-height: calculateRem(24px);
            font-size: $ibexa-text-font-size-small;
            font-weight: 400;
            border: calculateRem(1px) solid $ibexa-color-dark-200;
            border-radius: calculateRem(10px);
            padding: 0 calculateRem(8px);
            margin: 0 0 0 calculateRem(8px);
        }
    }

    .ibexa-top-menu {
        display: flex;
        height: calculateRem(44px);
    }

    .ibexa-context-menu {
        min-height: auto;
        height: auto;
        align-items: center;

        &__item {
            padding-left: 0;
        }
    }

    .ibexa-sc-location-full-preview {
        position: relative;
        aspect-ratio: 16/9;
        overflow: hidden;

        &__iframe-wrapper {
            overflow: hidden;
            border-radius: calculateRem(8px);
        }

        &__iframe {
            width: 100%;
            transform-origin: left top;
            aspect-ratio: 16/9;

            &--success {
                width: 100vw;
            }
        }

        &__loader-wrapper {
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $ibexa-color-white;
        }

        &__loader {
            @include spinner(calculateRem(80px), calculateRem(8px), $ibexa-color-primary);
        }

        &--loaded {
            overflow: initial;
        }
    }

    .ibexa-page-header-wrapper {
        padding-bottom: calculateRem(4px);
    }
}
