@import './public/bundles/ibexaadminui/scss/fonts.scss';
@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/mixins.scss';

.ibexa-sc-preview-not-available {
    font-family: $ibexa-font-family;
    display: flex;
    align-items: center;
    align-self: center;

    &__empty-image {
        max-width: 50%;
    }

    &__empty-text {
        max-width: calculateRem(440px);
        margin-left: calculateRem(56px);
        color: $ibexa-color-dark-400;
    }

    &__empty-header-text {
        margin-bottom: calculateRem(16px);
        font-weight: $headings-font-weight;
        font-family: $headings-font-family;
        font-size: $ibexa-text-font-size-extra-large;
    }

    &__empty-info-text {
        margin-bottom: calculateRem(16px);
    }

    @media (max-width: 420px) {
        margin: 0 calculateRem(8px);

        &__empty-image {
            max-width: 40%;
        }

        &__empty-text {
            margin-left: calculateRem(8px);
        }

        &__empty-header-text {
            font-size: $ibexa-text-font-size-large;
        }

        &__empty-info-text {
            font-size: $ibexa-text-font-size-medium;
        }
    }
}
