@import './public/bundles/ibexaadminui/scss/fonts.scss';
@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/mixins.scss';

.ibexa-sc-preview-not-available {
    $ibexa-color-dark-mode-5-white: #1f2731;

    font-family: $ibexa-font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: calculateRem(32px);

    &__empty-text {
        max-width: calculateRem(440px);
        color: $ibexa-color-dark-400;
        text-align: center;
    }

    &__empty-header-text {
        margin-top: calculateRem(24px);
        margin-bottom: calculateRem(16px);
        font-weight: $headings-font-weight;
        font-family: $headings-font-family;
        font-size: $ibexa-text-font-size-large;
    }

    &__empty-info-text {
        margin-bottom: calculateRem(16px);
        font-size: $ibexa-text-font-size-medium;
    }

    &--dark {
        background-color: $ibexa-color-dark-mode-5-white;
    }
}
