.ez-site-factory-form-status {
    padding-top: calculateRem(24px);

    .ibexa-label {
        font-weight: 500;
        padding-right: calculateRem(5px);
        margin-bottom: 0;

        &:after {
            content: ': ';
        }
    }

    &__widget {
        min-width: calculateRem(48px);
        margin-right: calculateRem(20px);
    }
}
