.ez-personalized-block {
    .ez-recommendation {
        border: 0 none;
        display: flex;

        &--horizontal {
            .block {
                min-height: calculateRem(110px);
                width: 33.3333%;
                border: calculateRem(1px) solid $ibexa-color-base-medium;
                padding: 0;
                margin: calculateRem(5px);
            }
        }

        &__thumbnail {
            background: $ibexa-color-base center;
            background-size: cover;
        }

        &__data-placeholder {
            background: $ibexa-white url('/bundles/ibexaplatformpersonalization/images/placeholder.png') left no-repeat;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
