.ez-image-editor-confirm-modal {
    display: block;

    .modal-footer {
        justify-content: space-between;
    }

    &__confirm-wrapper {
        margin: 0;

        .btn {
            &.btn-secondary, &.btn-primary {
                margin-right: calculateRem(16px);
                margin-bottom: calculateRem(16px);
            }
        }
    }
}
