.m-ibexa-fb {
    display: grid;
    grid-template-columns: auto calculateRem(354px);
    height: calc(100vh - #{calculateRem(16px)});

    &__workspace-wrapper {
        padding: calculateRem(40px);
    }
}

.droppable-placeholder {
    @include drag-item-placeholder;

    & {
        margin-top: calculateRem(2px);
    }

    & + .c-ibexa-fb-form-field {
        margin-top: calculateRem(2px);
    }
}
