.ibexa-ca-invitation-table {
    &__link-expired {
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-small;

        .ibexa-icon {
            fill: $ibexa-color-dark-400;
        }
    }
}
