.ibexa-pb-timeline-visible {
    & .ibexa-pb-action-bar {
        margin-bottom: calculateRem(144px);
    }
}

.ibexa-pb-action-bar {
    display: grid;
    grid-template-columns: auto auto 1fr;
    border-width: calculateRem(1px) 0;
    border-style: solid;
    border-color: $ibexa-color-light;
    background-color: $ibexa-color-white;
    box-shadow: $ibexa-edit-header-box-shadow;
    z-index: 1;
    transition:
        all $ibexa-admin-transition-duration $ibexa-admin-transition,
        margin-bottom $ibexa-admin-transition-duration $ibexa-admin-transition;
    transition-delay: 0s, 0.1s;

    &--hidden {
        display: none;
    }

    &__left {
        display: flex;
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .ibexa-pb-action-bar__action-btns {
            flex-direction: row-reverse;
            border-right: none;
        }
    }

    &__siteaccess {
        display: flex;
        align-items: center;
    }

    &__siteaccess-name {
        font-size: calculateRem(16px);
        font-weight: 600;
        max-width: calculateRem(200px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__content-action-info,
    &__siteaccess,
    &__action-btns,
    &__preview-switcher {
        border-right: calculateRem(1px) solid $ibexa-color-light;
    }

    &__content-action-info,
    &__siteaccess {
        padding: calculateRem(8px) calculateRem(32px);
    }

    &__preview-switcher,
    &__preview-history {
        padding: calculateRem(8px) 0 calculateRem(8px) calculateRem(16px);

        .ibexa-btn--selector {
            margin-right: calculateRem(16px);
        }
    }

    &__content-action-info {
        overflow: hidden;
        min-width: calculateRem(150px);
    }

    &__action-btns {
        display: flex;
        flex-wrap: nowrap;
        padding: calculateRem(8px) 0 calculateRem(8px) calculateRem(16px);

        .ibexa-btn--selector {
            margin-right: calculateRem(16px);
        }
    }

    &__action-btn {
        position: relative;
    }

    &__shortcut {
        display: inline-block;
        line-height: calculateRem(21px);
        font-size: calculateRem(14px);
        padding: 0 calculateRem(4px);
        background-color: $ibexa-color-light-300;
        border-radius: calculateRem(4px);
        font-weight: 400;
    }
}
