/**
 * @deprecated This scss code is part of sidebar will be removed in 5.0;
 */
.ibexa-pb-app--iframe-backdrop-visible {
    -webkit-user-select: none; // fix for safari to not select element in background while dragging.

    .ibexa-pb-iframe-backdrop {
        display: block;
    }
}

.ibexa-pb-iframe-backdrop {
    $self: &;

    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.4;
    background-color: $ibexa-color-dark;

    &--is-loading {
        display: block;

        #{$self} {
            &__loader-container {
                display: flex;
            }
        }
    }

    &__loader-container {
        display: none;
        height: 100%;
    }

    &__loader {
        margin: auto;

        @include spinner(calculateRem(80px), calculateRem(10px), $ibexa-color-white);
    }
}
