.ibexa-pb-timeline-wrapper {
    transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;
    position: absolute;
    top: calculateRem(162px);
    left: calculateRem(16px);
    right: calculateRem(16px);
    z-index: 125;
    transform-origin: top;
    will-change: transform;
    opacity: 0;

    .ibexa-pb-timeline-visible & {
        opacity: 1;
    }
}
