@import './public/bundles/ibexaadminui/scss/custom.scss';
@import './public/bundles/ibexaadminui/scss/mixins.scss';

[data-ibexa-zone-id] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calculateRem(73px);
    margin-bottom: calculateRem(24px);
    border-radius: calculateRem(12px);

    &.m-page-builder__zone {
        &::after {
            content: attr(data-call-to-action-text);
            display: block;
            margin-bottom: calculateRem(12px);
            font-size: calculateRem(14px);
            text-align: center;
            padding: calculateRem(22px) 0;
            font-family: $font-family-sans-serif;
            line-height: 1;
            color: $ibexa-color-dark-300;
            flex: 1;
            top: calculateRem(4px);
            position: relative;
        }

        & > .m-page-builder__fieldset {
            background-color: $ibexa-color-white;
        }

        &--empty > .m-page-builder__fieldset {
            background-color: $ibexa-color-light-200;
        }

        .droppable-placeholder {
            @include drag-item-placeholder;

            & {
                margin: calculateRem(6px) calculateRem(16px) calculateRem(2px);
                display: none;
                position: relative;
                z-index: 1;
            }

            & + [data-ez-block-id] {
                margin-top: calculateRem(4px);
            }
        }

        &--dragover {
            .droppable-placeholder {
                display: flex;
            }

            .droppable-placeholder:last-child {
                margin-bottom: calculateRem(-10px);
            }
        }
    }

    & .m-page-builder__fieldset {
        position: absolute;
        inset: calculateRem(-10px) 0 0;
        border-color: $ibexa-color-info;
        border-width: calculateRem(1px);
        border-radius: calculateRem(12px);
        border-style: groove;
        margin: 0 calculateRem(2px);
        padding: calculateRem(4px) calculateRem(9px);
    }

    & .m-page-builder__legend {
        margin-left: calculateRem(10px);
        color: $ibexa-color-info-700;
        font-size: $ibexa-text-font-size-small;
        margin-bottom: 0;
        float: none;
        width: auto;
    }
}

[data-ez-block-id]:not(.droppable-placeholder) {
    margin: calculateRem(16px) calculateRem(16px) 0;

    &:focus {
        outline: none;
    }

    &.c-pb-block-preview {
        &--highlighted {
            background-color: $ibexa-color-info-100;
            animation: item-highlight-pulse 1s 1;

            .c-pb-block-preview__inner {
                background: transparent;
            }
        }

        &--is-removing {
            background: $ibexa-color-light-300;
            border-color: $ibexa-color-light-300;
            animation:
                item-remove-pulse 0.2s 1,
                remove-field 1s 0.3s 1 forwards;
            transform-origin: top center;
            pointer-events: none;
        }

        &--removed {
            transform-origin: top center;
            animation: remove-field 1s 1 forwards;
        }

        &--is-dragging-out {
            border: calculateRem(2px) dotted $ibexa-color-light-300;
            background-color: $ibexa-color-light-300;

            & > .c-pb-block-preview__inner {
                opacity: 0;
            }
        }

        &__loader-container {
            padding: calculateRem(50px);
            width: 100%;
            text-align: center;
        }

        &__loader {
            margin: auto;

            @include spinner(calculateRem(80px), calculateRem(10px));
        }

        &__unavailable-mask {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: calculateRem(10px);
            background: rgba($ibexa-color-light-500, 0.9);
        }

        &__unavailable-mask-title {
            font-size: $ibexa-text-font-size-extra-large;
            text-align: center;
        }

        &__unavailable-mask-content {
            margin-top: calculateRem(8px);
            font-size: calculateRem(18px);
            text-align: center;
            margin-bottom: calculateRem(24px);
        }

        &__delete-unavailable-block {
            background: $ibexa-color-dark-300;
            color: $ibexa-color-white;
            padding: calculateRem(8px) calculateRem(16px);
            font-size: calculateRem(14px);
            border-radius: calculateRem(4px);
            cursor: pointer;
        }
    }

    .c-pb-block-preview__inner {
        border: calculateRem(1px) dashed $ibexa-color-info;
        border-radius: $ibexa-border-radius;
        min-height: calculateRem(40px);
        overflow: auto;
        padding: calculateRem(12px);

        &:focus {
            outline: none;
        }

        &--has-insert-animation {
            transform-origin: top center;
            animation: preview-insert 0.2s 1 forwards;
        }

        &--empty {
            font-size: $ibexa-text-font-size-medium;
            padding: calculateRem(16px) calculateRem(12px);
            color: $ibexa-color-dark;
        }

        &--invalid {
            border: calculateRem(1px) solid $ibexa-color-danger;
            color: $ibexa-color-danger;
        }

        &--unavailable {
            position: relative;
            background: none;
            min-height: calculateRem(160px);

            .c-pb-block-preview__inner {
                position: relative;
            }
        }
    }

    &:hover .c-pb-block-preview:not(.c-pb-block-preview--unavailable) {
        * {
            user-select: none;
            pointer-events: none;
        }
    }

    .c-pb-action-menu {
        all: initial;
        box-sizing: border-box;
        display: flex;
        height: calculateRem(40px);
        opacity: 0;
        background: $ibexa-color-info;
        color: $ibexa-color-white;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: calculateRem(-3px);
        margin-left: calculateRem(-3px);
        z-index: 99999;
        min-width: calculateRem(250px);
        max-width: calc(100% + #{calculateRem(6px)});
        align-items: center;
        font-family: $headings-font-family;
        font-size: $ibexa-text-font-size;
        border-radius: $ibexa-border-radius;

        .ibexa-btn {
            display: inline-flex;
            white-space: nowrap;
            padding: calculateRem(15px);
            outline: none;
            border: calculateRem(1px) solid transparent;
            border-radius: $ibexa-border-radius;
            text-decoration: none;
            font-size: calculateRem(14px);
            transition: all $ibexa-admin-transition-duration $ibexa-admin-transition;

            &:focus {
                box-shadow: $ibexa-btn-focus-box-shadow-info;
            }

            &--ghost {
                color: $ibexa-color-dark;
                background: transparent;
                fill: $ibexa-color-dark;

                &:hover {
                    color: $ibexa-color-info;
                    fill: $ibexa-color-info;
                }

                &:focus {
                    border-color: $ibexa-color-info;
                }

                &:disabled {
                    color: $ibexa-color-dark-300;
                    fill: $ibexa-color-dark-300;
                }
            }

            &--small {
                padding-top: calculateRem(7px);
                padding-bottom: calculateRem(7px);
                height: calculateRem(32px);

                &.ibexa-btn--primary {
                    padding-top: calculateRem(8px);
                    padding-bottom: calculateRem(8px);
                }
            }

            &--no-text {
                &.ibexa-btn--small {
                    padding-left: calculateRem(7px);
                    padding-right: calculateRem(7px);
                }
            }
        }

        .ibexa-icon {
            transition: fill $ibexa-admin-transition $ibexa-admin-transition;

            &--small {
                width: calculateRem(16px);
                height: calculateRem(16px);
            }
        }

        &__name-wrapper {
            display: inline-flex;
            align-items: center;
            padding-left: calculateRem(12px);
            min-width: 0;
            flex: 1;
        }

        &__name {
            font-size: calculateRem(15px);
            font-weight: 700;
            line-height: calculateRem(40px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__drag {
            display: none;
            padding-right: calculateRem(8px);
        }

        &__drag-icon {
            fill: $ibexa-color-white;
            width: calculateRem(16px);
            height: calculateRem(16px);
        }

        &__actions {
            display: none;
            margin: 0 calculateRem(12px) 0 calculateRem(16px);

            .ibexa-icon {
                fill: $ibexa-color-white;
            }
        }

        &__move-up {
            transform: rotate(90deg);
        }

        &__move-down {
            transform: rotate(-90deg);
        }

        &--editable {
            .c-pb-action-menu__drag,
            .c-pb-action-menu__actions {
                display: flex;
            }

            .c-pb-action-menu__name-wrapper {
                cursor: grab;
            }
        }
    }

    &:hover .c-pb-action-menu,
    & .c-pb-action-menu--visible {
        animation: fadeIn 0.4s ease-in-out forwards;
    }

    &.c-pb-preview-block--action-menu-to-right {
        &:hover {
            .c-pb-action-menu {
                left: auto;
                right: 0;
            }
        }
    }

    .c-pb-preview-block__action {
        cursor: pointer;
    }
}

@keyframes preview-insert {
    0% {
        height: 0;
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        height: 100%;
        transform: scaleY(1);
    }
}

@keyframes remove-field {
    100% {
        height: 0;
        margin-bottom: 0;
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes item-remove-pulse {
    0% {
        border-color: $ibexa-color-light-300;
        box-shadow: 0 0 0 0 $ibexa-color-light-300;
    }
    10% {
        border-color: $ibexa-color-light-300;
        box-shadow: 0 0 0 0 $ibexa-color-light-300;
    }
    20% {
        border-color: $ibexa-color-light-300;
        box-shadow: 0 0 0 calculateRem(10px) $ibexa-color-light-300;
    }
    100% {
        border-color: $ibexa-color-light-300;
        box-shadow: 0 0 0 0 $ibexa-color-light-300;
    }
}

@keyframes item-highlight-pulse {
    0% {
        border-color: transparent;
        background-color: $ibexa-color-info-100;
        box-shadow: 0 0 0 0 $ibexa-color-info-100;
    }
    10% {
        border-color: transparent;
        background-color: $ibexa-color-info-100;
        box-shadow: 0 0 0 0 $ibexa-color-info-100;
    }
    20% {
        border-color: transparent;
        background-color: $ibexa-color-info-100;
        box-shadow: 0 0 0 calculateRem(10px) $ibexa-color-info-100;
    }
    100% {
        border-color: $ibexa-color-info;
        background-color: $ibexa-color-info-100;
        box-shadow: calculateRem(4px) calculateRem(22px) calculateRem(20px) calculateRem(-7px) rgba($ibexa-color-info, 0.05);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
