.ibexa-qualifio-html-element-size {
    display: flex;
    clear: both;

    .form-group {
        &:first-child {
            margin-right: calculateRem(16px);
        }
    }

    .ibexa-input-text-wrapper {
        &--type-text {
            width: calculateRem(140px);
        }
    }

    .ibexa-dropdown {
        &__wrapper {
            width: calculateRem(92px);
        }
    }
}
